form {
  margin-bottom: 20px;
}
.info-form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.container {
  width: 500px;
  margin: auto;
}
input {
  width: 200px;
  height: 32px;
  margin: 10px 0;
  display: block;
}
button {
  width: 100px;
  height: 40px;
}
